<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <style type="text/css">
        .navegacion ul{
            list-style: none;
        }

        .submenu{
            visibility: hidden;
        }

        .menu li:hover .submenu{
            visibility: visible;
        }
        
    </style>
</head>
<body>
    <section class="container">
        <h4>Menu Simple</h4>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a href="" class="navbar-brand">
                    [Tu Logotipo]
                </a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                      <a class="nav-item nav-link active" href="#">Inicio</a>
                      <a class="nav-item nav-link" href="#">¿Que es?</a>
                      <a class="nav-item nav-link" href="#">Caracteristicas</a>
                      <a class="nav-item nav-link" href="#">Ventajas</a>
                      <a class="nav-item nav-link" href="#">Contacto</a>
                    </div>
                </div>  
            </div>
        </nav>
    </section>
    <section class="container">
        <h4 class="container">Menu Desplegable</h4>
        <nav class="navegacion navbar navbar-expand-lg">
            <ul class="menu">
                <li class="position-relative d-inline-block"><a class="pt-3 pr-3 d-block" href="#">Inicio</a></li>
                <li class="position-relative d-inline-block"><a class="pt-3 pr-3 d-block" href="#">Nosotros</a></li>
                <li class="position-relative d-inline-block"><a class="pt-3 pr-3 d-block" href="#">Servicios</a>
                    <ul class="submenu position-absolute">
                        <li><a class="d-block" href="#">Servicio #1</a></li>
                        <li><a class="d-block" href="#">Servicio #2</a></li>
                    </ul>
                </li>
                <li class="position-relative d-inline-block"><a class="pt-3 pr-3 d-block" href="#">Contacto</a></li>
            </ul>
        </nav>
    </section>
    <section class="mt-2">
        <h4 class="container">Menu Responsivo</h4>
        <nav class="page-header navbar navbar-light bg-lignt navbar-expand-md">
            <a class="navbar-brand" href="#">
                <span class="h4">
                    [Tu Logotipo]
                </span>
            </a>

            <button type="button" class="navbar-toggler" data-toggle="collapse"
            data-target="#menu-principal" aria-controls="menu-principal" aria-expanded="false"
            aria-label="Ver mas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu-principal">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="text-body nav-link">Inicio</a></li>
                    <li class="nav-item"><a class="text-body nav-link">Servicios</a></li>
                    <li class="nav-item"><a class="text-body nav-link">Productos</a></li>
                    <li class="nav-item"><a class="text-body nav-link">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </section>
    <section class="mt-2">
        <h4 class="container">Menu Responsivo Drop-down</h4>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggler" data-toggle="collapse"
                    data-target="#navegacion-fm" aria-controls="menu-principal" aria-expanded="false"
                    aria-label="Ver mas">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse ml-auto" id="navegacion-fm">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Servicios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">consectetur adipisicing elit</a>
                                <a class="dropdown-item" href="#">sed do eiusmod</a>
                                <a class="dropdown-item" href="#">Ut enim ad minim veniam</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Acerca de nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Productos
                        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Lorem ipsum dolor</a>
                                <a class="dropdown-item" href="#">sed do eiusmod</a>
                                <a class="dropdown-item" href="#">Ut enim ad minim veniam</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contactanos</a>
                        </li>
                    </ul>
                </div>  
            </div>
        </nav>
    </section>

    <div class="container">
        <div class="row">
            <div id="accordion" class="col-12">
                <h3>Tabla js</h3>
            </div>
        </div>
    </div>

    <div id="tabletemplate" class="tabletemplate container my-4">
        <button type="button" name="BtAdd" id="BtAdd" class="btn btn">
          <i class="fas fa-plus-circle"></i>&nbsp;Add
        </button>
        <div class="d-flex flex-column align-items-lg-center content-secondary">
                <table id="Table1" class="flex-fill mt-3 table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Selection</th>
                            <th scope="col">Question #</th>
                            <th scope="col">Instructions</th>
                            <th scope="col">Question Type</th>
                            <th scope="col">Answer</th>
                            <th scope="col">idQuestiomType</th>
                            <th scope="col">Numero Opciones</th>
                        </tr>
                        <tbody id="tbody-content">
                        </tbody>
                    </thead>
                </table> 
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="accordion" class="col-12">
                <h3>Codigos interno</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div>serializacion y envio de argumentos a clase php usando ajax y metodo POST</div>
                <pre>
                    var jsonform = JSON.stringify($("#formulario").serializeArray());

                            $.ajax({
                                type: "POST",
                                url: url1,
                                datatype:"json",
                                data:"datos="+jsonform,
                                success: function(response) {
                                  respuestax = response;
                                }
                            })
                            .done(function(){
                                Message(respuestax);
                            })
                            .fail(function(){

                            })
                            .always(function(){

                            });
                </pre>
            </div>

            <div class="col-6">
                <div>Funcion para agregar o remover clases con jquery rescatando los hijos de un div</div>
                <pre>
                    var countchild = $("#secondview").children().length;

                        if (valordrop != 0) 
                        {
                            $("#"+iddivshow).addClass("d-block");

                            $("#"+iddivshow).removeClass("d-none");

                            for (var i = 0; i < countchild; i++) {
                                var iddivhide = $("#secondview").children()[i].id;

                                if ( iddivhide != iddivshow) {
                                    $("#"+iddivhide).addClass("d-none");
                                    $("#"+iddivhide).removeClass("d-block");
                                }
                            }
                        }
                        else
                        {
                            for (var i = 0; i < countchild; i++) {
                                var iddivhide = $("#secondview").children()[i].id;

                                $("#"+iddivhide).addClass("d-none");

                                $("#"+iddivhide).removeClass("d-block");
                            }
                        }
                </pre>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div>Funcion para agregar fila a tabla creada en html</div>
                <pre>
                    $('#BtAdd').on('click', function () {

                        var Tablebody=(codigo html dependiendo de 
                        las columnas de la tabla)

                        $('#tbody-content').append(Tablebody);
                    });

                    $("#Table1").on("click", "#rid-register", function() {
                        $(this).closest("tr").remove();
                    });
                </pre>
            </div>
        </div>
    </div>



    <script src="scriptTemplate.js"></script>
    <script src="../script/script-Ejemplos.js"></script>
    <script src="../style/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
