<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <style type="text/css">
        .navegacion ul{
            list-style: none;
        }

        .submenu{
            visibility: hidden;
        }

        .menu li:hover .submenu{
            visibility: visible;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="accordion" class="col-12">
                <h3>Codigo interno</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div><strong>Funcion para recorrer datos desde una variable de session y utilizando POO</strong></div>
                <pre>
                    if(isset($_POST["datos"])){

                        $json = $_POST["datos"];

                        $someArray = json_decode($json, true);

                        $EntidadCliente = new Cliente();

                        $DatosIngresar = new Account();

                        foreach($someArray as $key => $value) {
                            if ($value["name"] == "HdAction") {
                                $EntidadCliente->Accion = $value["value"];
                            }
                         }

                        $EntidadCliente->Datos = $someArray;

                        $back = $DatosIngresar->ProcedureParameters($EntidadCliente);

                        echo $back;
                    }
                </pre>
            </div>
            <div class="col-6">
                <div><strong>Funcion para recorrer datos recibidos y llamas a procedimiento almacenado</strong></div>
                <pre>
                    $DatosProcedures = new Procedures();

                    $ArrayProcedure = $DatosProcedures->GetProcedures();

                    $Procedure = $ArrayProcedure[$EntidadCliente1->Accion];

                    $conn = conectar();

                    $sql = "call ".$Procedure."(";

                    foreach($EntidadCliente1->Datos as $key => $value)
                    {
                      if ($value["value"] != $EntidadCliente1->Accion) {
                        $Values = $Values."'".$value["value"]."',";
                      }
                    }

                    $sql = $sql.trim($Values,",").")";

                    $set = $conn->Execute($sql);

                    return ($set == true) ? 1 : 2;
                </pre>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div><strong>Deserializacion de json en archivo</strong></div>
                <pre>
                    $json1 = json_decode(file_get_contents("OpcionesMenu.json",true));

                    $Options = json_encode($json1);
                </pre>
            </div>

            <div class="col-6">
                <div><strong>Funcion para almacenar datos en un arreglo bidimencional</strong></div>
                <pre>
                    class Procedures
                    {
                        function GetProcedures()
                        {
                          static $object = array (
                            'GuardarCliente' => 'Lorem ipsum dolor sit amet',
                            'GuardarUsuario' => 'Lorem ipsum dolor sit amet',
                            'ConsultarCliente' => 'Lorem ipsum dolor sit amet'
                           );

                          return $object;
                        } 
                    }
                </pre>
            </div>
        </div>
    </div>

    <script src="scriptTemplate.js"></script>
    <script src="../script/script-Ejemplos.js"></script>
    <script src="../style/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
