<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <style type="text/css">
        .navegacion ul{
            list-style: none;
        }

        .submenu{
            visibility: hidden;
        }

        .menu li:hover .submenu{
            visibility: visible;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="accordion" class="col-12">
                <h3>Codigo interno</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div><strong>Cursor</strong></div>
                <pre>
                    DECLARE @Campo1 NUMERIC(18,4)
                    DECLARE @Campo2 VARCHAR(100)
                    DECLARE @Campo3 INT
                    DECLARE @Campo4 DATETIME

                    DECLARE CURSOR_Informacion
                    FOR
                    SELECT Campo1
                        ,Campo2
                        ,Campo3
                        ,Campo4
                    FROM @TABLA_Temporal1
                    ORDER BY IdTABLA_Temporal1

                    OPEN CURSOR_Informacion;

                    FETCH NEXT
                    FROM CURSOR_Informacion
                    INTO @Campo1
                        ,@Campo2
                        ,@Campo3
                        ,@Campo4

                    WHILE @@fetch_status = 0
                    BEGIN
                        /*ESCRIBIR AQUI CODIGO PARA LA MANIPULACION DE VARIABLES*/

                        FETCH NEXT
                        FROM CURSOR_Informacion
                        INTO @Campo1
                            ,@Campo2
                            ,@Campo3
                            ,@Campo4
                    END

                    CLOSE CURSOR_Informacion

                    DEALLOCATE CURSOR_Informacion
                </pre>
            </div>

            <div class="col-6">
                <div><strong>Funcion para Capitalizar un texto</strong></div>
                <pre>
                    CREATE FUNCTION [dbo].[CapitalizarTexto]
                    (
                    @string VARCHAR(200)
                    )
                    RETURNS VARCHAR(200)
                    AS
                    BEGIN

                    DECLARE @Index INT
                        ,@ResultString VARCHAR(MAX)

                    SET @Index = 1
                    SET @ResultString = ''


                    WHILE (@Index < LEN(@string) + 1)
                    BEGIN
                        IF (@Index = 1)
                        BEGIN

                            SET @ResultString = @ResultString + UPPER(SUBSTRING(@string, @Index, 1))
                            SET @Index = @Index + 1
                        END
                        ELSE
                        BEGIN

                            SET @ResultString = @ResultString + LOWER(SUBSTRING(@string, @Index, 1))
                            SET @Index = @Index + 1
                        END
                    END
                    RETURN @ResultString
                </pre>
            </div>
        </div>
                <div class="row">
            <div class="col-6">
                <div><strong>Procedimiento almacenado para recibir XML e insertar nodos en tabla temporal</strong></div>
                <pre>
                    CREATE PROCEDURE [dbo].[procxml] @inputXML XML
                    AS
                    DECLARE @Informationxml TABLE (
                        nodoxmlstring VARCHAR(400)
                        ,nodoxmlinteger INT
                        )

                    INSERT INTO @Informationxml
                    SELECT XMLFormat.Information.value('nodoxmlstring[1]', 'VARCHAR(200)')
                        ,XMLFormat.Information.value('nodoxmlinteger[1]', 'INT')
                    FROM @inputXML.nodes('/XMLFormat/Information') XMLFormat(Information)
                </pre>
            </div>
            <div class="col-6">
                <div><strong>Funcion SQL para convertir fecha en formato a&ntilde;o,mes,dia</strong></div>
                <pre>
                    CREATE FUNCTION [dbo].[FechaACadenaEnFormatoAAMMDD](@Fecha1 Datetime)  
                    RETURNS varchar(10)  
                    AS  
                    BEGIN   
                    DECLARE @resultante varchar(10)  
                    DECLARE @temporal numeric  
                    set @temporal =   
                           datepart(yyyy,@Fecha1)*10000 +  
                           datepart(mm,@Fecha1)*100 +  
                           datepart(dd,@Fecha1)   
                    set @resultante = Cast(@temporal as varchar(10))  
                    Return (@resultante)
                </pre>
            </div>
        </div>
    </div>

    <script src="scriptTemplate.js"></script>
    <script src="../script/script-Ejemplos.js"></script>
    <script src="../style/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
